.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.gallery-banner {
  width: 500px;
}

.gallery-photo {
  display: flex;
  flex-direction: column;
  padding: 4px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 8px 0px;
}

.photo-title {
  color: #801d5c;
  margin: 8px 0px;
  font-size: 24px;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .gallery-banner {
    width: 320px;
  }
}
