.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.banner {
  height: 580px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .home {
  }
}
@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
    padding: 0px 6px;
  }
  .main {
    flex-direction: column;
    justify-content: center;
  }
  .banner {
    height: 360px;
  }
}
